policy_module(unprivuser, 2.1.1)

# this module should be named user, but that is
# a compile error since user is a keyword.

########################################
#
# Declarations
#

role user_r;

userdom_unpriv_user_template(user)

########################################
#
# Policy
#

optional_policy(`
	rpm_dontaudit_dbus_chat(user_t)
')

optional_policy(`
	rtkit_scheduled(user_t)
')

optional_policy(`
	setroubleshoot_dontaudit_stream_connect(user_t)
')
