## <summary>Unprivileged user.</summary>

########################################
## <summary>
##	Change to the generic user role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`unprivuser_role_change',`
	gen_require(`
		role user_r;
	')

	allow $1 user_r;
')

########################################
## <summary>
##	Change from the generic user role.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`unprivuser_role_change_to',`
	gen_require(`
		role user_r;
	')

	allow user_r $1;
')
