## <summary>Cachefilesd.</summary>

########################################
## <summary>
##	Execute a domain transition to run cachefilesd.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cachefilesd_domtrans',`
	gen_require(`
		type cachefilesd_t, cachefilesd_exec_t;
	')

	domain_auto_trans($1, cachefilesd_exec_t, cachefilesd_t)
	corecmd_search_bin($1)

	allow $1 cachefilesd_t:fd use;
	allow cachefilesd_t $1:fd use;
	allow cachefilesd_t $1:fifo_file rw_file_perms;
	allow cachefilesd_t $1:process sigchld;
')
