## <summary>Control group rules engine daemon.</summary>
## <desc>
##	<p>
##		cgrulesengd is a daemon, which distributes processes
##		to control groups. When any process changes its
##		effective UID or GID, cgred inspects list of
##		rules loaded from cgrules.conf file and moves the
##		process to the appropriate control group.
##	</p>
##	<p>
##		The list of rules is read during the daemon startup and
##		are cached in daemons memory. The daemon reloads the
##		list of rules when it receives SIGUSR2 signal.
##	</p>
## </desc>

########################################
## <summary>
##	List cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_list_cgroup_dir', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir list_dir_perms;
')

########################################
## <summary>
##	Read and write cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_rw_cgroup_dir', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir rw_dir_perms;
')

########################################
## <summary>
##	Search cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_search_cgroup_dir', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir search_dir_perms;
')

########################################
## <summary>
##	Read and write cgred sock file in /var/run.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_stream_connect', `
	gen_require(`
		type cgred_var_run_t, cgred_t;
	')

	files_search_pids($1)
	stream_connect_pattern($1, cgred_var_run_t, cgred_var_run_t, cgred_t)
')

