## <summary>libcg is a library that abstracts the control group file system in Linux.</summary>
## <desc>
##	<p>
##	libcg aims to provide programmers easily usable APIs to use the control group file system.
##	</p>
## </desc>

########################################
## <summary>
##	Delete cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_delete_cgroup_dirs', `
	gen_require(`
		type cgroup_t;
	')

	delete_dirs_pattern($1, cgroup_t, cgroup_t)
	cgroup_search_cgroup_dirs($1)
')

########################################
## <summary>
##	Execute cgexec without a transition.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_exec_cgexec',`
	gen_require(`
		type cgexec_exec_t;
	')

	can_exec($1, cgexec_exec_t)
')

########################################
## <summary>
##	Execute cgclear without a transition.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_exec_cgclear',`
	gen_require(`
		type cgclear_exec_t;
	')

	can_exec($1, cgclear_exec_t)
')

########################################
## <summary>
##	List cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_list_cgroup_dirs', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir list_dir_perms;
')

########################################
## <summary>
##	Manage cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_manage_cgroup_dirs', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir manage_dir_perms;
')

########################################
## <summary>
##	Read and write cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_rw_cgroup_dirs', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir rw_dir_perms;
')

########################################
## <summary>
##	Search cgroup directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_search_cgroup_dirs', `
	gen_require(`
		type cgroup_t;
	')

	allow $1 cgroup_t:dir search_dir_perms;
')

########################################
## <summary>
##	Read and write cgred sock file in /var/run.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cgroup_stream_connect', `
	gen_require(`
		type cgred_var_run_t, cgred_t;
	')

	files_search_pids($1)
	stream_connect_pattern($1, cgred_var_run_t, cgred_var_run_t, cgred_t)
')

