## <summary>GNAT Ada95 compiler.</summary>
##	<desc>
##	<p>
##	GNAT is a free, high-quality, complete compiler for Ada95,
##	integrated into the GCC compiler system.
##	</p>
## </desc>

########################################
## <summary>
##	Execute the ada program in the ada domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`ada_domtrans',`
	gen_require(`
		type ada_t, ada_exec_t;
	')

	domtrans_pattern($1, ada_exec_t, ada_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute ada in the ada domain, and
##	allow the specified role the ada domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the ada domain.
##	</summary>
## </param>
#
interface(`ada_run',`
	gen_require(`
		type ada_t;
	')

	ada_domtrans($1)
	role $2 types ada_t;
')
