## <summary>GNOME DVB Daemon - setup DVB devices, record and watch TV shows and browse EPG.</summary>

########################################
## <summary>
##	Role access for DVB Daemon.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`dvb_role',`
	gen_require(`
		type dvbd_t, dvbd_exec_t;
	')

	########################################
	#
	#	Shared declarations.
	#

	role $1 types dvbd_t;

	########################################
	#
	#	Shared policy.
	#

	domtrans_pattern($2, dvbd_exec_t, dvbd_t)

	ps_process_pattern($2, dvbd_t)
	allow $2 dvbd_t:process { ptrace signal_perms };

	optional_policy(`
		dvb_dbus_chat_dvbd($2)
	')
')

########################################
## <summary>
##	Send DBus messages to and from
##	GNOME DVB Daemon.
## </summary>
## <param name="domain">
## 	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dvb_dbus_chat_dvbd',`
	gen_require(`
		type dvbd_t;
		class dbus send_msg;
	')

	allow $1 dvbd_t:dbus send_msg;
	allow dvbd_t $1:dbus send_msg;
')

########################################
## <summary>
##	Execute a domain transition to run dvb Daemon.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`dvb_domtrans_dvbd',`
	gen_require(`
		type dvbd_t, dvbd_exec_t;
	')

	domtrans_pattern($1, dvbd_exec_t, dvbd_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Manage DVB gnome home content.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dvb_manage_home_content',`
	gen_require(`
		type dvbd_config_home_t;
	')

	manage_dirs_pattern($1, dvbd_config_home_t, dvbd_config_home_t)
	manage_files_pattern($1, dvbd_config_home_t, dvbd_config_home_t)
	gnome_search_generic_config_dirs($1)
')

########################################
## <summary>
##	Relabel DVB gnome home content.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dvb_relabel_home_content',`
	gen_require(`
		type dvbd_config_home_t;
	')

	relabel_dirs_pattern($1, dvbd_config_home_t, dvbd_config_home_t)
	relabel_files_pattern($1, dvbd_config_home_t, dvbd_config_home_t)
	gnome_search_generic_config_dirs($1)
')
