## <summary>HTML browsers.</summary>

########################################
## <summary>
##	Role access for Elinks
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`elinks_role',`
	gen_require(`
		type elinks_t, elinks_exec_t;
	')

	########################################
	#
	# Elinks shared declarations.
	#

	role $1 types elinks_t;

	########################################
	#
	# Elinks shared policy.
	#

	domtrans_pattern($2, elinks_exec_t, elinks_t)

	allow $2 elinks_t:process { ptrace signal_perms };
	ps_process_pattern($2, elinks_t)
')

########################################
## <summary>
##	Domain transition to Elinks.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`elinks_domtrans', `
	gen_require(`
		type elinks_t, elinks_exec_t;
	')

	domtrans_pattern($1, elinks_exec_t, elinks_t)
	corecmd_search_bin($1)
')
