## <summary>Various IRC clients.</summary>

########################################
## <summary>
##	Role access for IRC
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`irc_role',`
	gen_require(`
		attribute irc_domain;
		type irc_t, irssi_t, irssi_exec_t, irc_exec_t;
	')

	########################################
	#
	# Global shared declarations.
	#

	########################################
	#
	# Irc shared declarations.
	#

	role $1 types irc_t;

	########################################
	#
	# Irssi shared declarations.
	#

	role $1 types irssi_t;

	########################################
	#
	# Global shared policy.
	#

	ps_process_pattern($2, irc_domain)
	allow $2 irc_domain:process { ptrace signal_perms };

	########################################
	#
	# Irc shared policy.
	#

	domtrans_pattern($2, irc_exec_t, irc_t)

	########################################
	#
	# Irssi shared policy.
	#

	domtrans_pattern($2, irssi_exec_t, irssi_t)
')
