## <summary>Mail clients.</summary>
## <desc>
##	<p>
##		Various mail clients.
##	</p>
## </desc>

########################################
## <summary>
##	Role access for Mutt.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
#
interface(`mutt_role',`
	gen_require(`
		attribute mutt_domains;
		type mutt_t, mutt_exec_t, mutt_tmp_t;
		type mutt_pgpewrap_t, mutt_pgpewrap_exec_t;
		type mutt_home_t;
	')

	########################################
	#
	# Mutt shared declarations.
	#

	role $1 types mutt_t;

	########################################
	#
	# Mutt PGP Ewrap shared declarations.
	#

	role $1 types mutt_pgpewrap_t;

	########################################
	#
	# Mutt global shared policy.
	#

	allow $2 mutt_domains:process { ptrace signal_perms };
	ps_process_pattern($2, mutt_domains)

	########################################
	#
	# Mutt shared policy.
	#

	domtrans_pattern($2, mutt_exec_t, mutt_t)

	manage_dirs_pattern($2, mutt_home_t, mutt_home_t)
	manage_files_pattern($2, mutt_home_t, mutt_home_t)

	relabel_dirs_pattern($2, mutt_home_t, mutt_home_t)
	relabel_files_pattern($2, mutt_home_t, mutt_home_t)

	manage_dirs_pattern($2, mutt_tmp_t, mutt_tmp_t)
	manage_files_pattern($2, mutt_tmp_t, mutt_tmp_t)

	relabel_dirs_pattern($2, mutt_tmp_t, mutt_tmp_t)
	relabel_files_pattern($2, mutt_tmp_t, mutt_tmp_t)
')

########################################
## <summary>
##	Read and write to Mutt files in tmp.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mutt_rw_tmp_files',`
	gen_require(`
		type mutt_tmp_t;
	')

	files_search_tmp($1)
	rw_files_pattern($1, mutt_tmp_t, mutt_tmp_t)
')
