## <summary>TVtime a high quality television application.</summary>

########################################
## <summary>
##	Role access for tvtime
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`tvtime_role',`
	gen_require(`
		type tvtime_t, tvtime_exec_t;
		type tvtime_home_t, tvtime_tmpfs_t;
	')

	role $1 types tvtime_t;

	domtrans_pattern($2, tvtime_exec_t, tvtime_t)

	ps_process_pattern($2, tvtime_t)
	allow $2 tvtime_t:process signal_perms;
')
