## <summary>Wireshark packet capture tool.</summary>

############################################################
## <summary>
##	Role access for wireshark
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
## <rolecap/>
#
interface(`wireshark_role',`
	gen_require(`
		type wireshark_t, wireshark_exec_t;
	')

	role $1 types wireshark_t;

	domain_auto_trans($2, wireshark_exec_t, wireshark_t)
	corecmd_search_bin($2)

	ps_process_pattern($2, wireshark_t)
	allow $2 wireshark_t:process { ptrace signal_perms };

	# fix me
	allow wireshark_t $2:fd use;
	allow wireshark_t $2:process sigchld;
')

########################################
## <summary>
##	Run wireshark in wireshark domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`wireshark_domtrans',`
	gen_require(`
		type wireshark_t, wireshark_exec_t;
	')

	domtrans_pattern($1, wireshark_exec_t, wireshark_t)
	corecmd_search_bin($1)
')
