
policy_module(corecommands, 1.13.1)

########################################
#
# Declarations
#

attribute exec_type;

type bin_t alias { ls_exec_t sbin_t };
corecmd_executable_file(bin_t)

type shell_exec_t;
corecmd_executable_file(shell_exec_t)

type chroot_exec_t;
corecmd_executable_file(chroot_exec_t)
