
policy_module(domain, 1.8.0)

########################################
#
# Declarations
#
## <desc>
## <p>
## Allow all domains to use other domains file descriptors
## </p>
## </desc>
gen_tunable(allow_domain_fd_use, true)

## <desc>
## <p>
## Allow all domains to have the kernel load modules
## </p>
## </desc>
gen_tunable(domain_kernel_load_modules, false)

attribute domain;

neverallow domain ~domain:process { transition dyntransition };

attribute unconfined_domain_type;

attribute polydomain;

attribute mmap_low_domain_type;
neverallow { domain -mmap_low_domain_type } self:memprotect mmap_zero;

attribute set_curr_context;

neverallow { domain -set_curr_context } self:process setcurrent;

attribute entry_type;

attribute privfd;

#
# constraint related attributes
#

attribute can_change_process_identity;

attribute can_change_process_role;

attribute can_change_object_identity;

attribute can_system_change;

attribute process_user_target;

attribute cron_source_domain;
attribute cron_job_domain;

attribute process_uncond_exempt;

neverallow { domain unlabeled_t } ~{ domain unlabeled_t }:process *;
neverallow ~{ domain unlabeled_t } *:process *;

########################################
#
# Rules applied to all domains
#

allow domain self:dir list_dir_perms;
allow domain self:lnk_file { read_lnk_file_perms lock ioctl };
allow domain self:file rw_file_perms;
kernel_read_proc_symlinks(domain)
kernel_read_crypto_sysctls(domain)

kernel_dontaudit_search_key(domain)
kernel_dontaudit_link_key(domain)
kernel_dontaudit_search_debugfs(domain)

allow domain self:process { fork getsched sigchld };

dev_rw_null(domain)
dev_rw_zero(domain)
term_use_controlling_term(domain)

files_list_root(domain)

corecmd_search_bin(domain)

tunable_policy(`domain_kernel_load_modules',`
	kernel_request_load_module(domain)
')

tunable_policy(`global_ssp',`
	dev_read_urand(domain)
')

optional_policy(`
	afs_rw_cache(domain)
')

optional_policy(`
	libs_use_ld_so(domain)
	libs_use_shared_libs(domain)
')

optional_policy(`
	setrans_translate_context(domain)
')

optional_policy(`
	xserver_dontaudit_use_xdm_fds(domain)
	xserver_dontaudit_rw_xdm_pipes(domain)
	xserver_dontaudit_append_xdm_home_files(domain)
')

########################################
#
# Unconfined access to this module
#

allow unconfined_domain_type domain:{ socket_class_set socket key_socket } *;

allow unconfined_domain_type domain:fd use;
allow unconfined_domain_type domain:fifo_file rw_file_perms;

allow unconfined_domain_type unconfined_domain_type:dbus send_msg;

allow unconfined_domain_type domain:process ~{ transition dyntransition execmem execstack execheap };

allow unconfined_domain_type domain:{ sem msgq shm } *;
allow unconfined_domain_type domain:msg { send receive };

allow unconfined_domain_type domain:dir list_dir_perms;
allow unconfined_domain_type domain:file rw_file_perms;
allow unconfined_domain_type domain:lnk_file { read_lnk_file_perms ioctl lock };

allow unconfined_domain_type domain:key *;

domain_all_recvfrom_all_domains(unconfined_domain_type)

selinux_getattr_fs(domain)
selinux_search_fs(domain)
selinux_dontaudit_read_fs(domain)

seutil_dontaudit_read_config(domain)

init_sigchld(domain)
init_signull(domain)

ifdef(`distro_redhat',`
	files_search_mnt(domain)
	optional_policy(`
		unconfined_use_fds(domain)
	')
')

optional_policy(`
	abrt_domtrans_helper(domain)
	abrt_read_pid_files(domain)
	abrt_read_state(domain)
	abrt_signull(domain)
	abrt_stream_connect(domain)
')

optional_policy(`
	rpm_use_fds(domain)
	rpm_read_pipes(domain)
	rpm_search_log(domain)
	rpm_append_tmp_files(domain)
	rpm_dontaudit_leaks(domain)
	rpm_read_script_tmp_files(domain)
	rpm_inherited_fifo(domain)
')

optional_policy(`
	sosreport_append_tmp_files(domain)
')

tunable_policy(`allow_domain_fd_use',`
	allow domain domain:fd use;
')

optional_policy(`
	cron_dontaudit_write_system_job_tmp_files(domain)
	cron_rw_pipes(domain)
	cron_rw_system_job_pipes(domain)

	ifdef(`hide_broken_symptoms',`
		dontaudit domain self:udp_socket listen;
		allow domain domain:key { link search };
	')
')

optional_policy(`
	ssh_rw_pipes(domain)
')

optional_policy(`
	unconfined_dontaudit_rw_pipes(domain)
	unconfined_sigchld(domain)
')

dontaudit can_change_object_identity can_change_object_identity:key link;

tunable_policy(`allow_polyinstantiation',`
	files_polyinstantiate_all(polydomain)
	userdom_manage_user_home_content_dirs(polydomain)
	userdom_manage_user_home_content_files(polydomain)
	userdom_relabelto_user_home_dirs(polydomain)
	userdom_relabelto_user_home_files(polydomain)
')
