policy_module(files, 1.13.1)

########################################
#
# Declarations
#

attribute file_type;
attribute files_unconfined_type;
attribute lockfile;
attribute mountpoint;
attribute pidfile;
attribute configfile;
attribute etcfile;

attribute polydir;

attribute polyparent;

attribute polymember;

attribute security_file_type;
attribute non_security_file_type;

attribute tmpfile;
attribute tmpfsfile;

attribute usercanread;

type boot_t;
files_mountpoint(boot_t)

type default_t;
files_mountpoint(default_t)

type etc_t, configfile;
files_type(etc_t)

typealias etc_t alias automount_etc_t;
typealias etc_t alias snmpd_etc_t;

type system_conf_t, configfile;
files_type(system_conf_t)

typealias system_conf_t alias iptables_conf_t;

type etc_runtime_t, configfile;
files_type(etc_runtime_t)

type file_t;
files_mountpoint(file_t)
kernel_rootfs_mountpoint(file_t)
sid file gen_context(system_u:object_r:file_t,s0)

type home_root_t;
files_mountpoint(home_root_t)
files_poly_parent(home_root_t)

type lost_found_t;
files_type(lost_found_t)

type mnt_t;
files_mountpoint(mnt_t)

type modules_object_t;
files_type(modules_object_t)

type no_access_t;
files_type(no_access_t)

type poly_t;
files_type(poly_t)

type readable_t;
files_type(readable_t)

type root_t;
files_mountpoint(root_t)
files_poly_parent(root_t)
kernel_rootfs_mountpoint(root_t)
genfscon rootfs / gen_context(system_u:object_r:root_t,s0)

type src_t;
files_mountpoint(src_t)

type system_map_t;
files_type(system_map_t)
genfscon proc /kallsyms gen_context(system_u:object_r:system_map_t,s0)

type tmp_t;
files_tmp_file(tmp_t)
files_mountpoint(tmp_t)
files_poly(tmp_t)
files_poly_parent(tmp_t)

type usr_t;
files_mountpoint(usr_t)

type var_t;
files_mountpoint(var_t)

type var_lib_t;
files_mountpoint(var_lib_t)

type var_lock_t;
files_lock_file(var_lock_t)

type var_run_t;
files_pid_file(var_run_t)
files_mountpoint(var_run_t)

type var_spool_t;
files_tmp_file(var_spool_t)

########################################
#
# Rules for all file types
#

allow file_type self:filesystem associate;

fs_associate(file_type)
fs_associate_noxattr(file_type)
fs_associate_tmpfs(file_type)
fs_associate_ramfs(file_type)
fs_associate_hugetlbfs(file_type)

########################################
#
# Rules for all tmp file types
#

allow file_type tmp_t:filesystem associate;

fs_associate_tmpfs(tmpfile)

########################################
#
# Rules for all tmpfs file types
#

fs_associate_tmpfs(tmpfsfile)

########################################
#
# Unconfined access to this module
#

allow files_unconfined_type file_type:{ file chr_file } ~execmod;
allow files_unconfined_type file_type:{ dir lnk_file sock_file fifo_file blk_file } *;

allow files_unconfined_type file_type:filesystem *;

tunable_policy(`allow_execmod',`
	allow files_unconfined_type file_type:file execmod;
')
