
policy_module(terminal, 1.8.0)

########################################
#
# Declarations
#

attribute ttynode;
attribute ptynode;
attribute server_ptynode;
attribute serial_device;

type bsdpty_device_t;
dev_node(bsdpty_device_t)

type console_device_t;
dev_node(console_device_t)

type devpts_t;
files_mountpoint(devpts_t)
fs_associate_tmpfs(devpts_t)
fs_type(devpts_t)
fs_use_trans devpts gen_context(system_u:object_r:devpts_t,s0);

type devtty_t;
dev_node(devtty_t)
mls_trusted_object(devtty_t)

type ptmx_t;
dev_node(ptmx_t)
mls_trusted_object(ptmx_t)
allow ptmx_t devpts_t:filesystem associate;

type tty_device_t, serial_device;
dev_node(tty_device_t)

type usbtty_device_t, serial_device;
dev_node(usbtty_device_t)
