## <summary>Berkeley process accounting.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run Accounting Management.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`acct_domtrans',`
	gen_require(`
		type acct_t, acct_exec_t;
	')

	domtrans_pattern($1, acct_exec_t, acct_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute Accounting Management.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`acct_exec',`
	gen_require(`
		type acct_exec_t;
	')

	can_exec($1, acct_exec_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute Accounting Management data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`acct_exec_data',`
	gen_require(`
		type acct_data_t;
	')

	can_exec($1, acct_data_t)
	files_search_var($1)
')

########################################
## <summary>
##	Manage process accounting data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`acct_manage_data',`
	gen_require(`
		type acct_data_t;
	')

	manage_files_pattern($1, acct_data_t, acct_data_t)
	manage_lnk_files_pattern($1, acct_data_t, acct_data_t)
	files_search_var($1)
')
