## <summary>Anaconda installer.</summary>
## <desc>
##	<p>
##	Anaconda installer is used by RHEL,
##	Fedora and a number of other projects,
##	and offers a text-mode and GUI mode so
##	users can install on a wide range of systems.
##	</p>
## </desc>

