## <summary>APT advanced package tool.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run APT.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`apt_domtrans',`
	gen_require(`
		type apt_t, apt_exec_t;
	')

	domtrans_pattern($1, apt_exec_t, apt_t)
	corecmd_search_bin($1)
	files_search_usr($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run APT and allow the
##	specified role the APT domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the APT domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`apt_run',`
	gen_require(`
		type apt_t;
	')

	apt_domtrans($1)
	role $2 types apt_t;
')

########################################
## <summary>
##	Inherit and use file descriptors
##	from APT.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_use_fds',`
	gen_require(`
		type apt_t;
	')

	allow $1 apt_t:fd use;
')

########################################
## <summary>
##	Do not audit attempts to use file
##	descriptors from APT.
## </summary>
## <param name="domain">
##	<summary>
##	Domain to not audit.
##	</summary>
## </param>
#
interface(`apt_dontaudit_use_fds',`
	gen_require(`
		type apt_t;
	')

	dontaudit $1 apt_t:fd use;
')

########################################
## <summary>
##	Read APT pipes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_read_pipes',`
	gen_require(`
		type apt_t;
	')

	allow $1 apt_t:fifo_file read_fifo_file_perms;
')

########################################
## <summary>
##	Read and write APT pipes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_rw_pipes',`
	gen_require(`
		type apt_t;
	')

	allow $1 apt_t:fifo_file rw_file_perms;
')

########################################
## <summary>
##	Read from and write APT
##	pseudo terminals.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_use_ptys',`
	gen_require(`
		type apt_devpts_t;
	')

	allow $1 apt_devpts_t:chr_file rw_term_perms;
')

########################################
## <summary>
##	Read APT package cache.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_read_cache',`
	gen_require(`
		type apt_var_cache_t;
	')

	allow $1 apt_var_cache_t:dir list_dir_perms;
	dontaudit $1 apt_var_cache_t:dir write;
	allow $1 apt_var_cache_t:file read_file_perms;
	files_search_var($1)
')

########################################
## <summary>
##	Read APT package database.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowes access.
##	</summary>
## </param>
#
interface(`apt_read_db',`
	gen_require(`
		type apt_var_lib_t;
	')

	allow $1 apt_var_lib_t:dir list_dir_perms;
	read_files_pattern($1, apt_var_lib_t, apt_var_lib_t)
	read_lnk_files_pattern($1, apt_var_lib_t, apt_var_lib_t)
	files_search_var_lib($1)
')

########################################
## <summary>
##	Manage APT package database.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`apt_manage_db',`
	gen_require(`
		type apt_var_lib_t;
	')

	manage_files_pattern($1, apt_var_lib_t, apt_var_lib_t)
	rw_lnk_files_pattern($1, apt_var_lib_t, apt_var_lib_t)
	delete_lnk_files_pattern($1, apt_var_lib_t, apt_var_lib_t)
	files_search_var_lib($1)
')

########################################
## <summary>
##	Do not audit attempts to manage APT
##	package database.
## </summary>
## <param name="domain">
##	<summary>
##	Domain to not audit.
##	</summary>
## </param>
#
interface(`apt_dontaudit_manage_db',`
	gen_require(`
		type apt_var_lib_t;
	')

	dontaudit $1 apt_var_lib_t:dir rw_dir_perms;
	dontaudit $1 apt_var_lib_t:file manage_file_perms;
	dontaudit $1 apt_var_lib_t:lnk_file manage_lnk_file_perms;
')
