## <summary>Kernel modules, kernel image, and bootloader.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run Bootloader.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`bootloader_domtrans',`
	gen_require(`
		type bootloader_t, bootloader_exec_t;
	')

	domtrans_pattern($1, bootloader_exec_t, bootloader_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run Bootloader and allow the
##	specified role the Bootloader domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the Bootloader
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bootloader_run',`
	gen_require(`
		type bootloader_t;
	')

	bootloader_domtrans($1)
	role $2 types bootloader_t;

	ifdef(`distro_redhat',`
		mount_run(bootloader_t, $2)
	')
')

########################################
## <summary>
##	Read Bootloader configuration files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bootloader_read_config',`
	gen_require(`
		type bootloader_etc_t;
	')

	allow $1 bootloader_etc_t:file read_file_perms;
	files_search_etc($1)
')

########################################
## <summary>
##	Read and write Bootloader
##	configuration files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bootloader_rw_config',`
	gen_require(`
		type bootloader_etc_t;
	')

	allow $1 bootloader_etc_t:file rw_file_perms;
	files_search_etc($1)
')

########################################
## <summary>
##	Read and write Bootloader
##	temporary files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bootloader_rw_tmp_files',`
	gen_require(`
		type bootloader_tmp_t;
	')

	allow $1 bootloader_tmp_t:file rw_file_perms;
	files_search_tmp($1)
')

########################################
## <summary>
##	Create Bootloader runtime files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bootloader_create_runtime_file',`
	gen_require(`
		type boot_runtime_t;
	')

	allow $1 boot_runtime_t:file { create_file_perms rw_file_perms };
	files_boot_filetrans($1, boot_runtime_t, file)
')
