## <summary>Kudzu detects and configures new and or changed hardware on a system.</summary>
## <desc>
##	<p>
##	Kudzu detects and configures new and/or changed hardware on a system. When started,
##	kudzu detects the current hardware, and checks it against a database stored
##	in /etc/sysconfig/hwconf, if one exists. It then determines if any hardware has been
##	added or removed from the system. If so, it gives the users the opportunity to
##	configure any added hardware, and unconfigure any removed hardware. It then updates
##	the database in /etc/sysconfig/hwconf. If no previous database exists, kudzu attempts
##	to determine what devices have already been configured, by looking
##	at /etc/modules.conf, /etc/sysconfig/network-scripts/, and /etc/X11/XF86Config.
##	</p>
## </desc>

########################################
## <summary>
##	Execute kudzu in the kudzu domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`kudzu_domtrans',`
	gen_require(`
		type kudzu_t, kudzu_exec_t;
	')

	domtrans_pattern($1, kudzu_exec_t, kudzu_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute kudzu in the kudzu domain, and
##	allow the specified role the kudzu domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the kudzu domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kudzu_run',`
	gen_require(`
		type kudzu_t;
	')

	kudzu_domtrans($1)
	role $2 types kudzu_t;
')

########################################
## <summary>
##	Get attributes of kudzu executable.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kudzu_getattr_exec_files',`
	gen_require(`
		type kudzu_exec_t;
	')

	allow $1 kudzu_exec_t:file getattr_file_perms;
')
