## <summary>Tmpwatch a utility for removing files based on when they were last accessed.</summary>
## <desc>
##	<p>
##	The tmpwatch utility recursively searches through specified
##	directories and removes files which have not been accessed in a
##	specified period of time. Tmpwatch is normally used to clean up
##	directories which are used for temporarily holding files (for example,
##	/tmp). Tmpwatch ignores symlinks, will not switch filesystems and only
##	removes empty directories and regular files.
##	</p>
## </desc>

########################################
## <summary>
##	Execute tmpreaper in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tmpreaper_exec',`
	gen_require(`
		type tmpreaper_exec_t;
	')

	can_exec($1, tmpreaper_exec_t)
	files_search_usr($1)
	corecmd_search_bin($1)
')
