## <summary>Tripwire file integrity checker.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run Tripwire.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`tripwire_domtrans_tripwire',`
	gen_require(`
		type tripwire_t, tripwire_exec_t;
	')

	domtrans_pattern($1, tripwire_exec_t, tripwire_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run Tripwire and allow the
##	specified role the Tripwire domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the Tripwire
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tripwire_run_tripwire',`
	gen_require(`
		type tripwire_t;
	')

	tripwire_domtrans_tripwire($1)
	role $2 types tripwire_t;
')

########################################
## <summary>
##	Execute a domain transition to
##	run TWAdmin.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`tripwire_domtrans_twadmin',`
	gen_require(`
		type twadmin_t, twadmin_exec_t;
	')

	domtrans_pattern($1, twadmin_exec_t, twadmin_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run TWAdmin and allow the
##	specified role the TWAdmin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the TWAdmin
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tripwire_run_twadmin',`
	gen_require(`
		type twadmin_t;
	')

	tripwire_domtrans_twadmin($1)
	role $2 types twadmin_t;
')

########################################
## <summary>
##	Execute a domain transition to
##	run TWPrint.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`tripwire_domtrans_twprint',`
	gen_require(`
		type twprint_t, twprint_exec_t;
	')

	domtrans_pattern($1, twprint_exec_t, twprint_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run TWPrint and allow the
##	specified role the TWPrint domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the TWPrint
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tripwire_run_twprint',`
	gen_require(`
		type twprint_t;
	')

	tripwire_domtrans_twprint($1)
	role $2 types twprint_t;
')

########################################
## <summary>
##	Execute a domain transition to
##	run Siggen.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`tripwire_domtrans_siggen',`
	gen_require(`
		type siggen_t, siggen_exec_t;
	')

	domtrans_pattern($1, siggen_exec_t, siggen_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run Siggen and allow the
##	specified role the Siggen domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the Siggen
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tripwire_run_siggen',`
	gen_require(`
		type siggen_t;
	')

	tripwire_domtrans_siggen($1)
	role $2 types siggen_t;
')
