## <summary>Timezone data.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run Timezone date.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tzdata_domtrans',`
	gen_require(`
		type tzdata_t, tzdata_exec_t;
	')

	domtrans_pattern($1, tzdata_exec_t, tzdata_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run Timezone data and allow the
##	specified role the Timezone data
##	domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the Timezone
##	data domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tzdata_run',`
	gen_require(`
		type tzdata_t;
	')

	tzdata_domtrans($1)
	role $2 types tzdata_t;
')
