## <summary>Timezone data.</summary>
## <desc>
##	<p>
##	Contains data files with rules for various timezones around
##	the world.
##	</p>
## </desc>

########################################
## <summary>
##	Execute a domain transition to run tzdata.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tzdata_domtrans',`
	gen_require(`
		type tzdata_t, tzdata_exec_t;
	')

	domtrans_pattern($1, tzdata_exec_t, tzdata_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute the tzdata program in the tzdata domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the tzdata domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tzdata_run',`
	gen_require(`
		type tzdata_t;
	')

	tzdata_domtrans($1)
	role $2 types tzdata_t;
')
