## <summary>Red Hat utility to change fstab.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run Updfstab.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`updfstab_domtrans',`
	gen_require(`
		type updfstab_t, updfstab_exec_t;
	')

	domtrans_pattern($1, updfstab_exec_t, updfstab_t)
	files_search_usr($1)
	corecmd_search_bin($1)
')
