## <summary>Run real-mode video BIOS code to alter hardware state.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run VBE Tool.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`vbetool_domtrans',`
	gen_require(`
		type vbetool_t, vbetool_exec_t;
	')

	domtrans_pattern($1, vbetool_exec_t, vbetool_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run VBE Tool and allow the
##	specified role the VBE Tool domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the VBE Tool
##	domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`vbetool_run',`
	gen_require(`
		type vbetool_t;
	')

	vbetool_domtrans($1)
	role $2 types vbetool_t;
')
