## <summary>Virtual Private Networking clients.</summary>

########################################
## <summary>
##	Execute a domain transition to
##	run VPN Client.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`vpn_domtrans',`
	gen_require(`
		type vpnc_t, vpnc_exec_t;
	')

	domtrans_pattern($1, vpnc_exec_t, vpnc_t)
	corecmd_search_bin($1)
')

########################################
## <summary>
##	Execute a domain transition to
##	run VPN Client and allow the
##	specified role the VPN Client
##	domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the VPN
##	Client domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`vpn_run',`
	gen_require(`
		type vpnc_t;
	')

	vpn_domtrans($1)
	role $2 types vpnc_t;
	sysnet_run_ifconfig(vpnc_t, $2)
')

########################################
## <summary>
##	Send kill signals to VPN Clients.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vpn_kill',`
	gen_require(`
		type vpnc_t;
	')

	allow $1 vpnc_t:process sigkill;
')

########################################
## <summary>
##	Send generic signals to VPN clients.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vpn_signal',`
	gen_require(`
		type vpnc_t;
	')

	allow $1 vpnc_t:process signal;
')

########################################
## <summary>
##	Send null signals to VPN clients.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vpn_signull',`
	gen_require(`
		type vpnc_t;
	')

	allow $1 vpnc_t:process signull;
')

########################################
## <summary>
##	Send and receive messages from
##	VPN Clients over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vpn_dbus_chat',`
	gen_require(`
		type vpnc_t;
		class dbus send_msg;
	')

	allow $1 vpnc_t:dbus send_msg;
	allow vpnc_t $1:dbus send_msg;
')

########################################
## <summary>
##	Relabel from vpnc socket.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vpn_relabelfrom_tun_socket',`
	gen_require(`
		type vpnc_t;
	')

	allow $1 vpnc_t:tun_socket relabelfrom;
')
