policy_module(miscfiles, 1.8.0)

########################################
#
# Declarations
#

type cert_t;
files_type(cert_t)

type fonts_t;
files_type(fonts_t)

type fonts_cache_t;
files_type(fonts_cache_t)

type hwdata_t;
files_type(hwdata_t)

type locale_t;
files_type(locale_t)

type man_t alias catman_t;
files_type(man_t)

type public_content_t;
files_type(public_content_t)

type public_content_rw_t;
files_type(public_content_rw_t)

type test_file_t;
files_type(test_file_t)

type tetex_data_t;
files_tmp_file(tetex_data_t)
